.header {
    display: flex;
    align-items: center;
    background-color: #E44D3A;
    height: 60px;
    width: 100%;
}

.logo {
    float: left;
    font-size: 24px;
    color: white;
    line-height: 31px;
    user-select: none;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    line-height: 31px;
}