.nav {
    background-color: white;
    padding: 10px;
    width: 200px;
    max-height: 200px;
    height: 200px;
    box-sizing: border-box;
}

.item {
    display: flex;
    justify-items: center;
    height: 30px;
}

.item a {
    color: black;
    text-decoration: none;
    line-height: 30px;
    position: relative;
}

.item a.activeLink {
    color: #E44D3A;
    font-weight: 700;
}

.item a.activeLink::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 130%;
    transform: scaleX(0);
    transform-origin: left;
    border: .5px solid #E44D3A;
    background-color: #E44D3A;
    animation: activeLinkAfter .3s;
    animation-fill-mode: forwards;
    will-change: transform;
}

@keyframes activeLinkAfter {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(20);
    }
}