@import "assets/styles/fonts.css";

body {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    background-color: #F2F2F2;
}

.app-container {
    width: 1200px;
    margin: 0 auto;
}

.app-container.main-container {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
