.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color: white;
}

.messagesContainer {
    display: grid;
    grid-row-gap: 10px;

    max-height: 490px;
    overflow-y: scroll;
}

.dialogsItems .dialog {

}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: white;
}

.inputGroup {
    margin-top: 10px;
}